<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<appSettings>

		<add key="ConnectionString" value="Server=(localdb)\MSSQLLocalDB;Integrated Security=true;" />
		<add key="DatabaseName" value="ExcelReader" />
		<add key="ExcelFilePath" value="‪D:\Downloads\time_week01.xlsx" />
		<add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />

	</appSettings>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>

</configuration>